.head-down {
  margin-top: 100px;
}

.index-title {
  text-align: center;
  font-size: 10.5em;
  font-weight: 900;
  background: url(/img/structure-of-a-human-head-made-of-white-net\ 1.png);
  background-size: cover;
  -webkit-background-clip: text;
          background-clip: text;
  color: transparent;
  -webkit-filter: drop-shadow(-9px 6px #031826);
          filter: drop-shadow(-9px 6px #031826);
}

.kons-but {
  margin-top: 30px;
  text-decoration: none;
}

.kons-but button {
  margin-top: 5px;
  background: transparent;
  width: 300px;
  height: 45px;
  border: 2px solid #35C4E8;
  border-radius: 30px;
  -webkit-filter: drop-shadow(1px 1px 4px #00D2FF);
          filter: drop-shadow(1px 1px 4px #00D2FF);
}

.kons a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  /* white */
  color: #FFFFFF;
}

.web-studio-title {
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 33px;
  color: #FFFFFF;
}

.web-studio-text {
  margin-top: 15px;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 33px;
  /* white */
  color: #FFFFFF;
  font-style: normal;
}

.elipse2 {
  position: absolute;
  width: 590px;
  height: 552px;
  left: -349px;
  top: 783px;
  /* buten */
  background: #35C4E8;
  -webkit-filter: blur(400px);
          filter: blur(400px);
}

.pluses {
  margin-top: 150px;
  width: 1180px;
  height: 189px;
}

.pluses-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  /* identical to box height, or 60px */
  /* white */
  color: #FFFFFF;
}

.advantage {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 95px;
}

.advant-card {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  text-align: center;
  /* white */
  color: #FFFFFF;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.other-color {
  color: #35C4E8;
  font-weight: 700;
}

.lines {
  width: 2px;
  height: 99px;
  border: 2px solid #35C4E8;
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

.uslugi-title {
  margin-top: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  /* identical to box height, or 60px */
  /* white */
  color: #FFFFFF;
}

.uslugi-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.uslugi-card {
  margin-top: 20px;
  margin-right: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 380px;
  height: 93px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  /* white */
  color: #FFFFFF;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.uslugi-card-big {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  width: 380px;
  height: 206px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  /* identical to box height */
  /* white */
  color: #FFFFFF;
  text-align: center;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.cms {
  margin-top: 120px;
}

.cms__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  margin-top: 30px;
}

.cms-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  /* identical to box height, or 60px */
  /* white */
  color: #FFFFFF;
}

.cms-logos__holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.cms-d-b__holder {
  display: block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cms-description {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  gap: 10px;
  width: 380px;
  height: 89px;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* or 24px */
  text-align: center;
  /* white */
  color: #FFFFFF;
}

.cms-logo-item {
  margin-right: 40px;
}

.cms-logo-item p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  /* identical to box height, or 24px */
  text-align: center;
  /* white */
  color: #FFFFFF;
}

.cms-btn {
  margin: auto;
}

.cms-button a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  /* white */
  color: #FFFFFF;
}

.cms-button {
  display: block;
  margin: auto;
  margin-top: 12px;
  background: transparent;
  width: 228px;
  height: 45px;
  border: 2px solid #35C4E8;
  border-radius: 30px;
  -webkit-filter: drop-shadow(1px 1px 4px #00D2FF);
          filter: drop-shadow(1px 1px 4px #00D2FF);
}

.portfolio {
  margin-top: 150px;
}

.portfolio-cards__holder {
  margin-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.portfolio-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  /* identical to box height, or 60px */
  color: #FFFFFF;
}

.portfolio-big-card {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 380px;
  height: 530px;
  border: 2px solid #35C4E8;
  border-radius: 30px;
}

.portfolio-big-card img {
  display: block;
  margin: auto;
  margin-top: 20px;
}

.portfolio-big-card p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* white */
  color: #FFFFFF;
  margin-top: 30px;
  margin-left: 30px;
}

.portfolio-card {
  border: 2px solid #35C4E8;
  border-radius: 30px;
  width: 380px;
  height: 255px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-bottom: 20px;
}

.portfolio-card img {
  display: block;
  margin: auto;
  margin-top: 30px;
}

.portfolio-card p {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  /* white */
  color: #FFFFFF;
  margin-left: 30px;
  text-decoration: none;
}

.btn-see-other-projects button {
  display: block;
  margin: auto;
  margin-top: 12px;
  background: transparent;
  width: 314px;
  height: 45px;
  border: 2px solid #35C4E8;
  border-radius: 30px;
  -webkit-filter: drop-shadow(1px 1px 4px #00D2FF);
          filter: drop-shadow(1px 1px 4px #00D2FF);
}

.but-see-other-projects a {
  text-decoration: none;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  /* white */
  color: #FFFFFF;
}

.articles {
  margin-top: 120px;
}

.articles-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.articles-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  /* identical to box height, or 60px */
  /* white */
  color: #FFFFFF;
}

.article {
  margin-top: 30px;
  width: 380px;
  height: 300px;
  margin-bottom: 20px;
}

.article-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  text-align: left;
  /* white */
  color: #FFFFFF;
}

.article-text {
  margin-top: 15px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* white */
  color: #FFFFFF;
}

.article-link {
  margin-top: 15px;
}

.article-link a {
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  /* buten */
  color: #35C4E8;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.reviews {
  margin-top: 150px;
}

.reviews-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  /* or 60px */
  /* white */
  color: #FFFFFF;
  margin-bottom: 30px;
}

.review__active {
  width: 180px;
  height: 180px;
}

.reviews-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.review-content {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 30px;
  max-width: 320px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 20px;
  gap: 10px;
}

.review-content-title {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 27px;
  /* white */
  color: #FFFFFF;
}

.review-content-text {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* white */
  color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.f-top {
  background-image: url(/img/logo\ bg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}

.info {
  margin-top: 120px;
}

.info-title {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  /* or 60px */
  /* white */
  color: #FFFFFF;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.info-text {
  margin-top: 30px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* white */
  color: #FFFFFF;
  /* Inside auto layout */
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}

.link__zayavka {
  text-decoration: none;
  color: #00D2FF;
  font-weight: 700;
}

.form {
  margin-top: 200px;
}

.input__holder {
  display: block;
}

.form-title {
  margin-bottom: 30px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  line-height: 100%;
  /* identical to box height, or 60px */
  /* white */
  color: #FFFFFF;
}

.wrapper-name {
  position: relative;
}

.input-form {
  margin-right: 30px;
  width: 320px;
  height: 35px;
  border-radius: 5px;
  border: 2px #1e1e1e solid;
  padding: 5px 15px;
  background-color: transparent;
  font-size: 15;
  font-weight: 500;
}

.placeholder {
  margin-right: 30px;
  width: 65%;
  position: absolute;
  top: -18px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 2;
  text-align: center;
  color: #00D2FF;
  background-color: #002F50;
  font-weight: 600;
  font-size: 15px;
  letter-spacing: 1.5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.input-form::-webkit-input-placeholder {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.input-form::-moz-placeholder {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.input-form:-ms-input-placeholder {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.input-form::-ms-input-placeholder {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.input-form::placeholder {
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

.input-form:focus + .placeholder {
  opacity: 1;
}

.input-form:focus {
  outline: 2px solid #00D2FF;
  border: none;
  color: #00D2FF;
}

.input-form:focus::-webkit-input-placeholder {
  opacity: 0;
}

.input-form:focus::-moz-placeholder {
  opacity: 0;
}

.input-form:focus:-ms-input-placeholder {
  opacity: 0;
}

.input-form:focus::-ms-input-placeholder {
  opacity: 0;
}

.input-form:focus::placeholder {
  opacity: 0;
}

/* Customize the label (the checkbox-btn) */
.checkbox-btn {
  margin-top: 30px;
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkbox-btn p {
  margin-left: 20px;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
  /* white */
  color: #FFFFFF;
}

/* Hide the browser's default checkbox */
.checkbox-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkbox-btn label {
  cursor: pointer;
  font-size: 14px;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border: 2.5px solid #ffffff;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
}

.checkbox-btn input:checked ~ .checkmark {
  background-color: transparent;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  visibility: hidden;
  opacity: 0;
  left: 50%;
  top: 40%;
  width: 10px;
  height: 14px;
  border: 2px solid #00D2FF;
  -webkit-filter: drop-shadow(0px 0px 10px #00D2FF);
          filter: drop-shadow(0px 0px 10px #00D2FF);
  border-width: 0 2.5px 2.5px 0;
  -webkit-transition: 0.2s linear;
  transition: 0.2s linear;
  -webkit-transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
          transform: translate(-50%, -50%) rotate(-90deg) scale(0.2);
}

/* Show the checkmark when checked */
.checkbox-btn input:checked ~ .checkmark:after {
  visibility: visible;
  opacity: 1;
  -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
          transform: translate(-50%, -50%) rotate(0deg) scale(1);
  -webkit-animation: pulse 1s ease-in;
          animation: pulse 1s ease-in;
}

.checkbox-btn input:checked ~ .checkmark {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border: none;
}

@-webkit-keyframes pulse {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
            transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
  }
}

@keyframes pulse {
  0%, 100% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1);
            transform: translate(-50%, -50%) rotate(0deg) scale(1);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
            transform: translate(-50%, -50%) rotate(0deg) scale(1.6);
  }
}